<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="white-color">
                <b>Welcome to MyMovieStore Admin Page</b>
            </p>
        </div>
        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/logout" class="white-color no-underline">Logout</a>

            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <br>
        <div class="col-md-3 col-sm-6 portfolio-item">
            <div class="portfolio-caption">

                <h3 class="adminfont">Delete Users</h3>
                <p class="text-muted">Click on the user name to delete user</p>
            </div>

            <div class="list-group" >
                <!--<h2>  Click user to delete</h2>-->

                <li class="box-search2 list-group-item" ng-repeat="user in model.allUsers">
                    <!--class="   ">-->
                    <a ng-click="model.deleteUser(user._id)"
                       class="actionlink ">
                        <i class="fa fa-user-times" aria-hidden="true">
                            {{user.username}}</i></a>
                </li>


            </div>
            </div>

        <div class="col-md-3 col-sm-6 portfolio-item">
            <div class="portfolio-caption">

                <h3 class="adminfont">Delete Reviews</h3>
                <p class="text-muted">Click on the review to delete it</p>
            </div>

            <div class="list-group" >
                <!--<h2>  Click user to delete</h2>-->

                <li class="box-search2 list-group-item" ng-repeat="review in model.allReviews">
                    <!--class="   ">-->
                    <a ng-click="model.deleteReview(review._id)"
                       class="actionlink ">
                        <i class="fa  fa-trash" aria-hidden="true">
                            {{review._movie.name}} :    {{review.reviewText}}</i></a>
                </li>

            </div>
            </div>
        </div>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">

            </p>
        </div>
    </div>
</nav>
