<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-brand">

            <p class="white-color">
                <b>Welcome to MyMovieStore</b>
            </p>
        </div>


        <div class="navbar-header pull-right white-color">

            <p class="navbar-text pull-right rightmargin-fifteenpx white-color">
                <a href="#/login" class="white-color">Login</a>
                <a href="#/register" class="white-color">Sign-Up</a>
            </p>
        </div>
    </div>
</nav>



<!--
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="white-color">
                <b>Welcome to MyMovieStore</b>
            </p>
        </div>
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/login"><p class="white-color">Login</p></a>
                </li>
                <li>
                    <a href="#/register"><p class="white-color">Sign-Up</p></a>
                </li>
                </ul>

        </div>-->
        <!--<div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/temp" class="white-color no-underline">Login</a>
                <a href="#/register" class="white-color no-underline">Sign-Up</a>

            </p>
        </div>-->
    </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="custom-carousel fill">
                <img class="img-responsive " src="images/movie-home-one-revised.jpg">
            </div>
            <div class="carousel-caption">
                <h4>Browse Movies</h4>
            </div>
        </div>

        <div class="item">
            <div class="custom-carousel fill">
                <img class="img-responsive " src="images/film-review-two-revised.jpg">
            </div>
            <div class="carousel-caption">
                <h4>Write Reviews</h4>
            </div>
        </div>
        <div class="item">
            <div class="custom-carousel fill">
                <img class="img-responsive " src="images/movie-review-one-revised.jpg" >
            </div>
            <div class="carousel-caption">
                <h4>Socialize with other Movie fans</h4>
            </div>
        </div>

    </div>
</div>


<!-- Left and right controls -->
<span class="left carousel-control"
      href=""
      data-target="#myCarousel"

      role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</span>
<span class="right carousel-control"
      href=""
      data-target="#myCarousel"

      role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</span>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>MyMovieStore helps you browse movies,write reviews and share your favorites with your friends. Signup to discover the amazing world of movies and their fans! </p>
        </div>
    </div>
</div>


<!-- Footer -->

<!--</div>-->
<!-- /.container -->

<!-- jQuery -->


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">

            </p>
        </div>
    </div>
</nav>




