
<nav class="navbar navbar-default navbar-fixed-top" id="nv1">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            <p class="navbar-text pull-left leftmargin-tenpx">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-chevron-left black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="darkgray-color">
                <b>Edit Page</b>
            </p>
        </div>
        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href ng-click="model.updatePage(model.page.name,model.page.title); submitted=true" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-ok black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form name="myForm">
        <div class="form-group">
            <label for="pagename">Name</label>
            <input ng-model="model.page.name"
                   required
                   ng-class="{ 'error-when' : submitted && myForm.name.$error.required }"
                   name="name"
                   type="text"
                   class="form-control"
                   id="pagename"
                   placeholder="Page Name">
        </div>
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">*Required Field</span>
        <div class="form-group">
            <label for="pagetitle">Title</label>
            <input ng-model="model.page.title" type="text" class="form-control" id="pagetitle" placeholder="Page Title">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deletePage()">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" id="nv2">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.id}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user primary-blue">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
