
<nav class="navbar navbar-default navbar-fixed-top" id="nv1">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            <p class="navbar-text pull-left leftmargin-tenpx">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-chevron-left black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="darkgray-color">
                <b>Widget Edit</b>
            </p>
        </div>
        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-ok black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="widgetname">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="widgetname" placeholder="Name of Widget">
        </div>
        <div class="form-group">
            <label for="widgettext">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="widgettext" placeholder="Some Text">
        </div>
        <div class="form-group">
            <label for="videourl">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="videourl" placeholder="https://www.youtube.com/watch?v=HBMG2xz_Leg">
        </div>
        <div class="form-group">
            <label for="videowidth">Widht</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="videowidth" placeholder="100%">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" id="nv2">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.id}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user primary-blue">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
