<nav class="navbar navbar-default navbar-fixed-top" id="nv1">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            <p class="navbar-text pull-left leftmargin-tenpx">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-chevron-left black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
        <div class="navbar-header navbar-brand pull-left leftpadding-twentyfivepx">
            <p class="darkgray-color">
                <b>Widget Edit</b>
            </p>
        </div>
        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href ng-click="model.updateWidget(model.widget); submitted=true" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-ok black-color">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form name="myForm">
        <div class="form-group">
            <label for="widgetname">Name</label>
            <input ng-model="model.widget.name"
                   required
                   ng-class="{ 'error-when' : submitted && myForm.name.$error.required }"
                   name="name"
                   type="text"
                   class="form-control"
                   id="widgetname"
                   placeholder="Name of Widget">

        </div>
        <span ng-show="submitted && myForm.name.$error.required"
              class="err">*Required Field</span>
        <div class="form-group">
            <label for="widgettext">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="widgettext" placeholder="Some Text">
        </div>
        <div class="form-group">
            <label for="widgetsize">Size</label>
            <input ng-model="model.widget.size" type="text" class="form-control" id="widgetsize" placeholder="3">
        </div>
    </form>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" id="nv2">
    <div class="container-fluid">

        <div class="navbar-header pull-right">

            <p class="navbar-text pull-right rightmargin-fifteenpx">
                <a href="#/user/{{model.id}}" class="navbar-link">
                    <!--<div class="nav navbar-nav navbar-right row navbar-text text-center">-->
                    <span class="glyphicon glyphicon-user primary-blue">

          </span>
                    <!--</div>-->
                </a>
            </p>
        </div>
    </div>
</nav>
